/*HEADER*/
.header {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
}
.header-logo img {
    width: 120px;
    height: auto;
}
.header-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}
.header-list a {
    text-decoration: none;
    color: black;
}